@font-face {
  font-family: 'Qilkabold';
  src: url('/fonts/Qilkabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Qilkabold';
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
